/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
 
body{
    background: whitesmoke;
}


li{
    padding-bottom: 3px;
    color: white;
    text-shadow: 1.5px 1px 3px black;
    list-style-type: none;
}

p{
    text-align: center;

}

h1{
    font-size: 25px;
    margin: 10px;
}

input{
    text-align: center;
}

  button {
    display: inline-block;
    background-color: purple;
    border-radius: 10px;
    border: 3px;
    color: white;
    font-size: 15px;
    padding: 10px;
    width: 100px;
    margin-top: 10px;
  }

  button:hover{
      box-shadow: 4px 3px 6px #4450bd;
  }
  .container {
    display: flex;
    justify-content: center;
    margin: 100px;
  }

#startpage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#viewHS{
    color: purple
}

#timer{
    text-align: right;
    margin: 0px 45px;
}
#quiz {
    display: none;
}

#result {
    display: none;
}

#gameover {
    text-align: center;
    display: none;
    flex-direction: column;
    align-items: center;
}


#finalScore{
    padding-bottom: 0.5rem;
    font-size: x-large;
    font-family: sans-serif;
    font-weight: bold;
}

#endGameBtns{
    display: none;
}
