/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
 
body{
    background: whitesmoke;
    width: [pixel_size]px;
}

/* Quiz question choices */
ol li #a, #b, #c, #d {
  display: flex;
  width: 100%;
}

/* User's Initials and High Score Section */
li {
    display: flex;
    padding-bottom: 3px;
    color: black;
    list-style-type: none;
}

h1 {
    font-size: 25px;
    margin: -5px 0px;
}

h2{
    margin-top: -.5rem;
}

p {
   font-size: 15px;
   margin: 10px;

}

input{
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 150px 45px 0px 90px;
  }

  button {
    display: inline-block;
    background-color: purple;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    width: 120px;
    margin-top: 5px;
  }

  
  button:hover{
      box-shadow: 4px 3px 6px #4450bd;
  }

#viewHS {
    color: purple;
    margin: 0px 4px;
}

#introPage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#countdown{
    color: black;
    text-align: right;
    margin: -20px 45px ;
}
#quizPage {
    display: none;
}

#result {
    display: none;
}

#quizComplete {
    text-align: center;
    display: none;
    flex-direction: column;
    align-items: center;
}

#highScore{
    height: 1.5rem;
    border: groove 2px;
}

#high-scorePage{
    display: none;
    width: 50%;
    border: solid;
    border-bottom-style: groove;
    padding-bottom: .3rem;
    
}

#highscoreContainer{
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#highscore-header{
    display:flex;
    justify-content: space-around;
    border-bottom-style: outset;
    margin: 10px 15px;
    color: black;
}

#initials{
    color: black;
    margin: 5px;
    height: 25px;
}

#highscore-initials{
    display: inline-block;
    padding-left: 9.5rem;
    color: black;
    font-weight: bold;
}

#highscore-score{
    float: right;
    padding-right: 8.75rem;
    font-family: sans-serif;
    font-weight: bold;
}

#userScore{
    padding-bottom: 0.5rem;
    font-size: x-large;
    font-family: sans-serif;
    font-weight: bold;
}

#endGameBtns{
    display: none;
}