/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
 
body{
    background: whitesmoke;
}

.viewHighScore {
    text-align: left;
}

.timer {
    text-align: right;
    margin: -20px 15px 90px;
}

.container {
    text-align: center;
   
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 25px;
}

.quizQuestions, .quizAnswers, .quizEnd, .userFinalScore, .userInitials, .btn2, .btn3 {
    display: none;
}

